

html, body {
	width: 100%;
	overflow-x: hidden;
	
}
body {
	height:100%;
	font-family: "Lato", "Serif";
	font-weight: 300;
	padding:0;
	margin:0;
	font-size:16px;
	line-height: 28px;
	color: #400040; 
	background: #fff;
	overflow-x:hidden;
	position: relative;
	
}

h2 { font-size: 1.8em; line-height:1.4em; margin:0 0 .3em;  }
h3 { font-size: 1.4em; line-height:1.4em; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: none
}	 
p { 
	padding: 0 0 1em;
	margin:0;
}
a {
	color: #032e49;
	outline: 0;
	font-weight: bold;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
} 
a:hover {
	text-decoration: none;
	color: #1f2222;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
}

.highlight {
	color: #065d93;
	font-weight: bold;
}

#preloader { 
	position: fixed; 
	left: 0; 
	top: 0; 
	z-index: 999; 
	width: 100%; 
	height: 100%; 
	overflow: visible; 
	background: #fff url(../images/loading.gif) no-repeat center center;
}
.fullscreen {
    width:100%;
    min-height:100%;
	background-repeat:no-repeat;
    background-position:50% 50%;
    background-position:50% 50% !important;
}
.overlay {
  /*  background-color: rgba(0, 0, 0, 0.5);*/ 
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}
.btn-default {
	font-size: 17px;
	margin: 30px 0 10px;
	margin-right: 10px;
	line-height: 20px;
	padding: 15px 35px;
	height: 50px;
	border: 2px solid #032e49;
	background: transparent;
	transition: all 0.4s;
	color: #032e49;
	border-radius: 100px;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
	border: 2px solid #032e49;
	background: #032e49;
	color: white;
}
.btn-primary {
	font-size: 17px;
	margin: 30px 0 10px;
	margin-right: 10px;
	line-height: 20px;
	padding: 15px 35px;
	height: 50px;
	border: 2px solid #032e49;
	background: #032e49;
	transition: all 0.4s;
	color: white;
	border-radius: 100px;
}
.info-button{
	padding-bottom:30px; 
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	border: 2px solid #032e49;
	background: transparent;
	color: #032e49;
}
.btn-secondary {
	font-size: 20px;
	font-weight: 300;
	line-height: 20px;
	padding: 20px 50px;
	height: 65px;
	border: none;
	background: #032e49;
	transition: all 0.4s;
	color: white;
	border-radius: 4px;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open > .dropdown-toggle.btn-secondary {
	background: #065d93;
	color: white
}

.logo {
	margin: 40px 0 40px 0;
}
.logo img{
	width: 150px; 
	height: 37px;
	display:block;
    max-width: 300px;
    margin: 0 auto;
    
}
.landing h1{
	font-size: 56px;
	font-weight: 300;
	color: #fff;
	margin: 30px 0 30px 0;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.landing p, .landing h2 {
	color: #fff;
}
.landing-text {
	margin-bottom: 10px;
}
.landing-text p {
	font-size: 17px !important; 
}

.subtext li{
	color: #fff;
}
.signup-header {
	margin: 10px 0 100px;
	background: rgba(255,255,255,0.2);
	border-radius: 3px;
	padding-left: 20px;
	padding-right: 20px;	
	font-family: "Lato", "Serif";
}
.signup-header h3{
	padding: 20px 0 10px;
	color: #032e49;
	font-weight: 300;
	font-family: "Lato", "Serif";
}
.form-header input {
	position: relative;
	padding: 5px 15px;
	font-family: "Lato", "Serif";
}
.form-header .form-control {
	border-radius: 0;
	border: solid 1px #dadada;
	background-color: #fff;
	color: #032e49;
	height: 40px;
	font-family: "Lato", "Serif";
	font-size:20px;
}

#comments{
	height: 120px;
}
.form-header .btn {
	border-radius: 0;
	height: 40px;
	width: 100%;
	background-color: #032e49;
	color: white;
	font-size: 17px !important;
	padding: 0 33px;
	border: none;
	margin: 0;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
	font-family: "Lato", "Serif";
}
.form-header .btn:hover {
	background-color: #065d93;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
}
.privacy {
	padding-top: 0;
	font-size: 13px;
}
.signup-header p {
	color: #032e49;
}
.privacy a {
	text-decoration: underline;
	color: #032e49;
	font-weight: 300;
}
#policy {
	padding: 100px 0 70px;
}
.btn-section {
	padding-top: 20px;
}

.ul-address a {
	font-weight: normal;
}
.ul-address a:hover {
	color: white;
}
.ul-address li {
	padding-right: 20px; 
	margin-bottom: 8px; 
	list-style: none;
	color: white;
}
.ul-address i {
	margin-left: 15px;
	position: absolute; 
	left: 0;
	color: #032e49; 
	font-size: 25px;
	line-height: 30px;
}

#footer {
	background: #fff;
	padding: 50px 0 50px;
}
.social ul {
	padding: 0;
	list-style: none;
}
.social li {
	display: inline-block;
	padding-right: .3em;
	padding-bottom: .3em;
}
.social li a {
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #032e49;
	border-radius: 50%;
	background: #fff;
	border: solid 1px #032e49;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
}
.social li a:hover {
	color: #fff;
	background: #032e49;
}
.social-icons i {
	color: #032e49;
	font-size: 30px;
	line-height: 40px
}
#shortcode-alert {
	padding: 70px 0 30px;
}
.alert { 
	border: none; 
	border-radius: 0; 
	position: relative; 
	font-size: 17px; 
	line-height: 22px; 
	padding: 16px; 
	padding-left: 60px; 
}
.alert i { 
	font-size: 28px; 
	position: absolute; 
	left: 15px; 
	top: 13px; 
} 

/* iPads (portrait) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : portrait) {
	.signup-header {
		margin: 50px 0 100px;
	}
	.btn-section {
		text-align: center;
	}
	.landing-text p {
	font-size: 22px !important; 
}
.mainText p{
	font-size: 20px !important;
}
li p{
	font-size: 20px !important;
}

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : landscape) {
	.logo {
		margin: 40px 0 30px 0;
	}
	.landing h1{
		margin: 60px 0 60px 0;
	}	
	.landing-text {
		margin: 60px 0 40px 0;
	}
	.signup-header {
		margin-top: 10px;
	}
}

/* smart-phone ----------- */
@media (max-width: 767px) {
	.logo {
		margin: 40px 0 30px 0;
	}
	
	.signup-header {
		margin: 10px 0 80px;
	}
	
	.btn-section {
		text-align: center;
	}
	}	

/* iPhone 6 (landscape) ----------- */
@media (max-width: 667px) {
	.logo {
		margin: 30px 0 30px 0;
	}
	.landing h1{
		font-size: 50px;
		margin: 10px 0 25px 0;
	}
	.landing-text {
		margin-top: 20px;
	}
}

/* iPhone 5 (landscape) ----------- */
@media (max-width: 568px){
	.logo {
		margin: 15px 0 15px 0;
	}
	.landing h1{
		font-size: 40px;
		margin: 20px 0 10px 0;
	}
	.landing-text p {
		font-size: 16px !important; 
	}
}

/* iPhone 4 (landscape) ----------- */
@media (max-width: 480px) {
	.feat-list i {
		padding-left: 5px;
	}

}

/* smart phone width: 360px ----------- */
@media (max-width: 360px) {
	.feat-list i {
		padding-left: 0;
	}
	#feature .inner {
		padding-left: 15px;
	}
}

/* iPhone 4/5 (portrait) ----------- */
@media (max-width: 320px) {
	.logo {
		margin: 30px 0 20px 0;
	}
	.landing h1{
		margin: 20px 0 35px 0;
	}
	.btn-default {
		font-size: 16px;
		margin: 30px 0 10px;
		padding: 15px 30px;
		height: 35px;
		border-radius: 80px;
	}
	.btn-primary {
		font-size: 16px;
		margin: 30px 0 10px;
		margin-right: 15px;
		padding: 15px 30px;
		height: 35px;
		border-radius: 80px;
	}

}